*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}
h1{
    color: rgb(26, 10, 100);
}
h1 span{
    color: orange;
}
input{
    height: 20px;
    width: 150px;
    border-radius: 3px;
    border: 1px solid rgb(187, 177, 177);
    outline: none;

}
button{
    margin-left: 10px;
    border: none;
    border-radius: 1rem;
    color: #fff;
    background: #000;
    cursor: pointer;
    width: 70px;
    height: 20px;
}
button:hover{
    color: #fff;
    background: rgb(1, 1, 105);
}
ul {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}