@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
